body {
    background-image: url(img/photo5.jpg);
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    margin: 20px;
}

header {
    text-align: center;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: solid;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

nav {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 25px;
  }

  p {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
  }